body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    padding: 20px;
    background-color: #f8f8f8;
    border-bottom: 1px solid #ccc;
}

#top-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#problem-title {
    font-size: 24px;
    margin: 0;
    margin-right: 20px;
}

#explanation-button {
    background-color: green;
    color: white;
    border: 2px solid gray;
    border-radius: 5px;
    padding: 5px 15px;
    cursor: pointer;
}

#limits {
    font-size: 14px;
}

#time-limit,
#memory-limit {
    display: block;
    margin: 0;
}

main {
    padding: 20px;
}

#problem-statement {
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin: 0 auto;
    max-width: 1000px;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#problem-statement h2 {
    font-size: 24px;
    margin-top: 0;
}

#problem-statement p {
    font-size: 16px;
    line-height: 1.5;
}

hr {
    border: 0;
    height: 1px;
    background: #ccc;
    margin: 20px 0;
}

#constraints {
    list-style-type: disc;
    padding-left: 20px;
    font-size: 16px;
    line-height: 1.5;
}

.code-container {
    position: relative;
}

.code-block {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 8px;
    text-align: left;
    overflow: hidden;
    margin-top: 0;
    margin-bottom: 20px;
}

.copy-button {
    position: absolute;
    top: -30px;
    right: 0;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
}

#copy-message {
    position: absolute;
    top: -60px;
    right: 0;
    background-color: #333;
    color: white;
    border-radius: 3px;
    padding: 5px 10px;
    visibility: hidden;
    z-index: 1;
    font-size: 12px;
}

.io_format {
    white-space: pre-wrap;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    margin: 0;
    padding: 8px;
}
